<aside id="{{id}}" class="profile-card clearfix">
  <figure>
    <a href="#{{id}}">
        <img class="avatar" src="{{ site.baseurl }}/assets/images/{{author.avatar}}.jpg" alt="imagem de {{author.name}}">
    </a>
  </figure>

  <div class="profile-bio">
    <h1>{{ author.name }}</h1>
    <h2>{{ author.ocupation }}</h2>
    <p>{{ author.about }}</p>
  </div>

  <ul class="profile-social-links">
    {% if author.site %}
    <li>
        <a href="{{ author.site }}" target="_blank" class="site">
            <i class="fa fa-globe"></i>
        </a>
    </li>
    {% endif %}

    {% if author.github %}
    <li>
        <a href="http://github.com/{{ author.github }}" target="_blank" class="github">
            <i class="fa-brands fa-github"></i>
        </a>
    </li>
    {% endif %}

    {% if author.x %}
    <li>
        <a href="http://x.com/{{ author.x }}" target="_blank" class="x">
            <i class="fa-brands fa-square-x-twitter"></i>
        </a>
    </li>
    {% endif %}

    {% if author.linkedin %}
    <li>
        <a href="http://www.linkedin.com/in/{{ author.linkedin }}" target="_blank" class="linkedin">
            <i class="fa-brands fa-linkedin"></i>
        </a>
    </li>
    {% endif %}
  </ul>
</aside>

