/* Reset and preset */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}
*, *:before, *:after { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

::selection {
  background:#ebf5cf;
  color:#000;
}

@font-face {
  font-family: "logo";
  src: url("../fonts/atari1.eot"); /* IE9 Compat Modes */
  src: url("../fonts/atari1.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("../fonts/atari1.otf") format("opentype"), /* Open Type Font */
    url("../fonts/atari1.svg") format("svg"), /* Legacy iOS */
    url("../fonts/atari1.ttf") format("truetype"), /* Safari, Android, iOS */
    url("../fonts/atari1.woff") format("woff"), /* Modern Browsers */
    url("../fonts/atari1.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'VT323';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/VT323.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

/* Default elements */
html, body { height: 100%; }

body {
  font: 18px/1 Georgia, Cambria, "Times New Roman", Times, serif;
	color: #333;
	background-color: #111;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
  display: flex;
  flex-direction: column;
}

main {
	display: block;
	background-color: #fff;
	padding: 32px 0 48px 0;
}

ul 	{
  margin:0; padding:0;
}

li	{
  list-style-position:inside;
}

table {
	width: 100%;
	margin: 40px 0;
	border-collapse: collapse;
	font-size: 16px;
}

th,td {
	text-align: left;
	padding-right: 20px;
	vertical-align: top;
}

table td,td {
	border-spacing: none;
	border-style: solid;
	padding: 10px 15px;
	border-width: 1px 0 0 0;
}

tr>td {
	border-top: 1px solid #eaeaea;
}

tr:nth-child(odd)>td {
	background: #fcfcfc;
}

thead th,th {
	text-align: left;
	padding: 10px 15px;
	height: 20px;
	font-size: 16px;
	font-weight: bold;
	color: #555;
	border-bottom: 1px solid #dadadc;
	cursor: default;
	white-space: nowrap;
}

img {
	width: 100%;
	max-width: 100%;
	border-radius: 0;
}

/* Typography */
a,
p a,
#title,
#post-list a:hover .dates,
#title:hover {
	text-decoration: none;
  color: #7ba32c;
}

h1, h2, h3 {
  font-family: "VT323";
  text-transform: uppercase;
}

h4, h5 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h4 { font-size:18px; font-weight: bold; }
h5 { font-size:18px; font-weight: bold; }

h6 {
	font-size: 13px;
	font-weight: bold;
	color: #555;
	margin-bottom: 6px;
}

p.small {
	color: #bbb;
	font-size: 14px;
	line-height: 1.5;
	display: block;
}

blockquote {
	padding-left: 15px;
	border-left: 3px solid #eee;
}

hr {
	display: block;
	border: none;
	height: 1px;
	margin: 20px auto;
	background: #eee;
}

span.code {
  font-family:Menlo, Monaco, Courier; background-color:#EEE; font-size:14px;
}

div.highlighter-rouge {
  width: 100%;
  overflow-x: auto;
  margin-bottom: 32px;
  padding: 8px;
  background-color: #111;
}

div.highlight {
  min-width: 720px;
}

pre	{
	font-family: Menlo, Monaco, Courier;
	white-space: pre-wrap;
	border-radius: 3px;
	background: #111111;
  font-family: 'Source Code Pro',Menlo,monospace;
  font-size: 12px;
  font-weight: 500;
	color: #d0d4d7;
}

b, strong {
  font-weight: 900;
  color: #7ba32c;
  font-size: 90%;
}

em, i {
  font-style: italic;
}

h1 {
	font-size: 30px;
	color: #6C7A89;
	font-weight: bold;
}

h2 {
  font: 300 1.8em/1em "VT323",Helvetica,Arial,sans-serif;
  color: #7ba32c;
  margin-bottom: 16px;
}

p {
  line-height: 1.6;
}

.post h1, h2, h3, h4, h5, p,
.post-body ul, #post-list li {
	margin-bottom: 32px;
}

#post-body ul {
  line-height: 32px;
  margin-left: 32px;
  margin-bottom: 32px;
}

#about-body {
  margin-top: 32px;
}

.post p {
  text-align: justify;
}

.post a {
  text-decoration: underline;
}

a,
#post-nav a,
#post-list a	{
	-webkit-transition: all 0.15s ease;
	-moz-transition: all 0.15s ease;
	-ms-transition: all 0.15s ease;
	-o-transition: all 0.15s ease;
	transition: all 0.15s ease;
}

.home h1 {
	font-size: 30px;
	letter-spacing: -1px;
	color: #6C7A89;
	font-weight: bold;
}

.home h2 {
	font: italic 19px/1.3em Georgia,serif;
	color: #bbb;
}

/***** Structure *****/
.wrapper {
  max-width: 900px;
  margin: 0 auto;
}

.wrapper.home {
	max-width: 800px;
	margin: 0 auto;
	padding: 0px 40px 20px 40px;
}

/* Header */
#page-header {
  height: 256px;
  background-position: fixed;
}

#page-header.post-header {
	height: 320px;
  overflow: hidden;
}

#page-header .cover {
  position: relative;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  width: 100%;
  height: 320px;
  margin: 0 auto;
  overflow: hidden;
}

#page-header img {
  z-index: -8889;
  position: fixed;
  right: 0;
  top: 0;
  min-height: 300px;
}

#page-header pre {
  z-index: -8889;
  height: 256px;
  width: 100%;
  overflow: hidden;
}

#auto-code{
  color: #9BD22D;
  font-size: 14px;
  line-height: 30px;
  letter-spacing: 2px;
  opacity: 0.5;
  overflow: hidden;
	margin-bottom: -4px;
	background: #111;
}

#site-logo {
  text-align: center;
  position: absolute;
  top: 38px;
  left: auto;
  width: 100%;
}

#site-logo h1, #site-logo a {
	font-family: 'logo';
	color: #fff;
}

.header-link  {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: none;
    transition: 0.4s;
}

.header-link:hover {
    text-shadow: 0 0 8px rgba(255, 255, 255, 0.7);
    transition: 0.3s;
    text-decoration: none;
}

#header {
	border-bottom: 1px solid #eee;
}

nav.main-nav {
  position: relative;
  background: #111;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  z-index: 888;
  color: #fff;
}

nav.article-nav {
  background-image: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR42mMUvAEAAQAA614JuiAAAAAASUVORK5CYII=);
  background-repeat: repeat;
  position: fixed;
  top: 0;
  transition: top 0.2s ease-in-out;
  width: 100%;
  padding: 16px;
  margin: 0 auto;
  z-index: 888;
  color: #efefef;
}

nav.scroll-down {
  top: -64px;
}

nav.scroll-up {
  top: 0;
}

nav.main-nav .left{
  float: left;
}

nav.main-nav .right{
  float: right;
}

nav.main-nav a {
	padding: 8px 16px;
  color: #6C7A89;
	color: #fff;
  font: normal 14px Helvetica, Arial, sans-serif;
}

nav.main-nav .workabotic {
  font-size: 1.25em;
  font-weight: bold;
  margin: 0;
}

nav.main-nav.home a {
	color: #fff;
}

nav.main-nav a {
  line-height: 32px;
}

nav.main-nav a.cta {
	background: #6C7A89;
	color: #fff;
	margin-left: 12px;
}

/* Post List */
#post-list {
  width: 100%;
}

#post-list .listing {
  position: relative;
  cursor: pointer;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  padding: 32px 64px;
  transition: .3s ease-out;
}

#post-list a:not(:last-child) > .listing {
  border-bottom: 1px solid #c2c6cc;
}

#post-list .listing .post-details {
  position: relative;
  text-align: justify;
}

.post-details h1 {
  color: #7ba32c;
  text-decoration: underline;
}

.post-details p {
  text-decoration: none;
  padding: 16px 0;
  color: #555;
}

.listing .post-details .post-category {
  color: #fff !important;
  font-size: 13px;
  padding: .3rem 1rem;
  display: inline-block;
}

#post-list .listing {
  background: #FDFDFD;
}

#post-list .listing:active{
  transition: transform 0.1s ease;
  transform: scale(1.1);
  z-index: 888;
}

#post-list .listing:hover {
  background: #FDFDFD;
  -webkit-box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
  z-index: 888;
  transition:1s;
}

.listing .post-details .time {
  position: absolute;
  bottom: 0;
  font: normal 18px "VT323",Helvetica,Arial,sans-serif;
  color: #888;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
}

#post-list h1 {
  color: #7ba32c;
  font: normal 2.2rem "VT323",helvetica,Arial,sans-serif;
}

#post-list p {
	font: 20px/1 Georgia, Cambria, "Times New Roman", Times, serif;
	color: #333;
  -webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	margin-top: 8px;
	line-height: 1.6;
  text-transform: none;
}

#post-list a {
  display: block;
}

#post-list .dates {
	float: right;
	position: relative;
	font: 300 24px/1.8 "VT323",helvetica,Arial,sans-serif;
	color: #bbb;
}

#post-list-footer {
	border-top: 1px solid #eee;
	margin-top: 20px;
	padding-top: 100px;
}

#post-nav {
	text-align:center;
	font-size:13px;
	font-weight:500;
  border-top: 1px solid #c2c6cc;
}

#post-nav span {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
	position: relative;
}


#post-nav span.prev, #post-nav span.next {
  padding: 16px;
  cursor: pointer;
  font: 14px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#post-nav span.prev {
	float: left;
}

#post-nav span.next {
	float: right;
}

#post-nav span.next {
	float: right;
}

#post-nav a::last-child {
  clear: both;
}

#post-nav span .arrow {
	position: relative;
	padding: 1px;
}


/* Profile */
.profile .wrapper {
	padding: 100px 40px 0px;
	max-width: 900px;
	margin: 0 auto;
}

.profile #header {
	border-bottom: 1px solid #eee;
	margin-bottom: 40px;
	padding-bottom: 40px;
	text-align: center;
	position: relative;
}

.profile #avatar {
	display: inline-block;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	margin-bottom: 32px;
}

.profile h1 {
	font-weight: 400;
	letter-spacing: 0px;
	font-size: 20px;
	color: #6C7A89;
}

.profile h2 {
	font-size: 20px;
	  font-weight: 300;
	  color: #aaa;
	  margin-top: 10px;
	  font-family: 'VT323', Helvetica, Arial, sans-serif;
	  font-style: normal;

}

/* Post body */
.post {
  padding: 96px 64px 32px 64px;
  text-align: justify;
  font-size: 1.15em;
  background: #fff;
  z-index: 6;
}

.about {
  padding: 32px 64px !important;
}

.post header {
	text-align:center;
}

.post h1, h2, h3 {
  text-decoration: underline;
}

.post h4, h5 {
  font-weight: bold;
}

.post h1 {
	margin-bottom: 0;
	color: #7ba32c;
	font: 400 2.5em "VT323", Helvetica,Arial,sans-serif;
}

.post h2 {
  font: 300 2.0em "VT323",Helvetica,Arial,sans-serif;
  color: #7ba32c;
  margin-top: 64px;
  margin-bottom: 32px;
}

.post h3 {
  font: 300 1.5em "VT323",Helvetica,Arial,sans-serif;
  color: #7ba32c;
  margin-top: 64px;
  margin-bottom: 32px;
}

.post h4 {
  font-size: 0.9em;
  margin-top: 64px;
  margin-bottom: 32px;
}

.post h2.headline {
	font: normal 18px "VT323",Helvetica,Arial,sans-serif;
	margin: 4px 0 40px 0;
	color: #888;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  display: inline-block;
}

.post ol {
  margin-left: 0;
  padding-right: 0;
}

.post ol li {
  counter-increment: step-counter;
  padding: 0 32px;
  margin-bottom: 32px;
  list-style-type: decimal;
  line-height: 28px;
}

.post .author {
  padding: 32px 0;
}

.post .author .written p {
  font: normal 24px "VT323",Helvetica,Arial,sans-serif;
  color: #888;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  z-index: 99;
}

.post img {
  margin-top: 16px;
}

.post img + em {
  display: block;
  text-align: center;
  color: #888;
  font-size: 18px;
}

.profile-card:first-child {
  border-top: 1px solid #c2c6cc;
}

.profile-card {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  z-index: 100;
  border-bottom: 1px solid #c2c6cc;
  transition: .3s ease-out;
}

.profile-card h1,
.profile-card h2 {
  font-weight: 500;
  margin: 0px 0px 5px 0px;
}

.profile-card h1 {
  font-size: 24px;
}

.profile-card h2 {
  font-size: 16px;
  text-decoration: none;
  color: #888;
}

.profile-card p {
  margin: 0px;
  text-align: left;
}

.profile-card figure {
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  vertical-align: baseline;
}

.profile-card figure a {
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 25px;
}

.profile-card figure a > img {
  width: 128px;
  max-width: 100%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  -webkit-box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
  box-shadow: 0px 0px 0px 8px rgba(0, 0, 0, 0.06);
}

.profile-card .profile-bio {
  width: 75%;
  vertical-align: baseline;
  padding: 32px 32px 64px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.profile-card .profile-bio h1 {
  padding: 0 0 2px 0;
}

.profile-card .profile-bio h2 {
  padding: 2px 0 4px 0;
}

.profile-social-links {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 16px 32px;
  margin: 0;
  line-height: 0;
  text-align: center;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.profile-social-links li {
  list-style: none;
  padding: 0;
  float: right;
  text-align: center;
}

.profile-social-links li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  padding: 6px;
  position: relative;
  overflow: hidden !important;
}

.profile-social-links li a:hover {
  opacity: 0.8;
}


.profile-social-links li a i {
  position: relative;
  font-size: 28px;
}

.profile-social-links li a img,
.profile-social-links li a svg {
  width: 32px;
}*/


.profile-social-links a:hover {
  opacity: 0.8;
}

.profile-social-links .x {
  color: #000000;
}

.profile-social-links .github {
  color: #000000;
}

.profile-social-links .linkedin {
  color: #0A66C2;
}

.profile-social-links .site {
  color: #767676;
}

.comments {
  padding: 0 32px;
}

#sharing {
  text-align: right;
  margin: 0;
}

#sharing .share {
  display: inline-block;
  margin: auto;
}

#sharing .share:first-child {
  padding-right: 16px;
}

#sharing .share:last-child {
  padding-left: 16px;
}

#sharing a {
  font-family: "Lucida Console", Monaco, monospace;
  border: none;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #7ba32c;
  padding: 16px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  width: 100%;
}

#sharing a:hover {
	opacity: 0.8;
}

#sharing a.facebook {
  background: #4361b3;
}

#sharing a.twitter {
  background: #4fafed;
}

#sharing a.linkedin {
  background: #0A66C2;
}

/* Footer */
#footer {
  flex: 1;
	box-shadow: inset 0 1px 0 #eee;
	background: #111 url("../images/pattern.jpg");
  background-attachment: fixed;
  background-position: center;
}

#footer a {
	font-weight: bold;
	color: #fff;
}

#footer .wrapper{
  border-top: 1px solid #7ba32c;
  padding: 32px 0 26px 0;
}

#social {
	text-align: center;
	font-size: 52px;
}

/* Helpers */
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.hidden {
  display: none;
}

.darken {
  position: relative;
  background: #000;
  opacity: 0.25;
  width: 100%;
  height: 100%;
}

.block {
  display: block;
}

.glitch {
	position: relative;
  width: 900px;
  margin: 0 auto;
}

.glitch:after {
  animation: glitch-animation 1s linear alternate-reverse;
  animation-iteration-count: 1;
  clip: rect( 0, 900px, 0, 0 );
  background: #111;
  content: attr( data-text );
  position: absolute;
  right: -2px;
  overflow: hidden;
  text-shadow: -2px 0 #d22d5c;
}

.glitch:before {
  animation: glitch-animation 0.6s linear alternate-reverse;
  animation-iteration-count: 1;
  clip: rect( 0, 900px, 0, 0 );
  background: #111;
  content: attr( data-text );
  left: -2px;
  overflow: hidden;
  position: absolute;
  text-shadow: 2px 0 #642dd2;
}

.logo {
	font-family: 'logo' !important;
}

.name {
  margin-top: 0;
  margin-bottom: 0.1rem;
}

.hljs {
	background: #111111 !important;
  display: block;
  /* overflow-x: auto; */
  -webkit-text-size-adjust: none;
}

@keyframes glitch-animation {
  25% { clip: rect(52px, 8889px, 14px, 0); }
  50% {clip: rect(38px, 8889px, 62px, 0); }
}

/* Media Queries */

/* Large */
@media screen and (min-width: 64em) {
  #site-logo {
    padding: 6rem 6rem;
  }

  .name {
    font-size: 4rem;
  }
}

/* Medium */
@media screen and (min-width: 42em) and (max-width: 64em) {
  main {
    background: #FDFDFD;
    display: block;
    background-color: #fff;
    padding: 32px 0 48px 0;
  }

  .wrapper { padding:20px 20px 20px 20px; }

  #site-logo {
    padding: 6rem 6rem;
  }

  #page-header {
    overflow: hidden;
  }

  .name {
    font-size: 3.2rem;
  }

  #auto-code{
    font-size: 14px;
  }


  .profile-card figure {
    width: 30%;
  }

  .profile-card .profile-bio {
    width: 70%;
  }
}

/* Small */
@media screen and (max-width: 42em) {
  body {
    font: 16px/1 Georgia, Cambria, "Times New Roman", Times, serif;
  }

  h3 { 
    font-size:18px;
  }

  h4 { 
    font-size:16px; 
  }
  
  h5 { 
    font-size:14px; 
  }

  h6 {
    font-size: 12px;
  }

  p {
    line-height: 1.5;
  }

  main {
    display: block;
    background-color: #fff;
    padding: 16px 0 32px 0;
  }

  #site-logo {
    padding: 8rem 1rem;
  }

  .article-nav .logo {
    display: none;
  }

  .wrapper { padding: 10px 10px 10px 10px; }

  #post-list .listing {
    padding: 32px 16px;
  }

  #post-list .listing .post-details {
    text-align: center;
  }

  #post-list p {
    font: 19px/1 Georgia, Cambria, "Times New Roman", Times, serif;
    line-height: 1.5;
    text-transform: none;
  }

  #post-list .listing .post-details .time {
    font: normal 16px "VT323",Helvetica,Arial,sans-serif;
  }

  #post-list h1 {
    font: normal 1.8rem "VT323",helvetica,Arial,sans-serif;
  }
  
  .about {
    padding: 32px 16px !important;
  }
  
  .post-details p {
    text-decoration: none;
    padding: 8px;
    color: #555;
  }

  .post {
    padding: 96px 16px 32px 16px;
  }

  .post h1, h2, h3, h4 {
    text-align: center;
  }

  .post h1, h3, h4, h5, p,
  .post-body ul, #post-list li {
    margin-bottom: 16px;
  }

  .post .author .written p {
  text-align: center;
  }

  #page-header {
    overflow: hidden;
  }

  #page-header pre {
    display: none;
  }

  #page-header img {
    min-height: 128px;
  }

  .post-details h1 {
    text-align: center;
  }

  .post-details p {
    text-align: center;
  }
  
  .profile-card {
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 0 32px;
  }

  .profile-card p {
    text-align: center;
  }

  .profile-card figure {
    width: 100%;
  }

  .profile-card .profile-bio {
    width: 100%;
    padding: 4px 8px;
  }

  .profile-card .profile-social-links {
    position: relative;
  }
  
  .profile-social-links li {
    padding: 0 8px;
  }

  .profile-social-links li a {
    width: 40px;
    height: 40px;
  }

  .profile-social-links li a i {
    font-size: 36px;
  }

  .listing {
    text-align: center;
  }

  .listing .post-details {
    padding: 0;
  }

  .listing .post-details .time {
    position: relative;
  }

  .author {
    text-align: center;
  }

  .author img.avatar {
    float: none;
  }

  .author .social {
    width: 100%;
    text-align: center;
  }

  #footer {
    margin-top: 0;
  }

  #footer .wrapper{
    padding: 10px 0 6px 0;
  }

}