---
layout: default
---
<article class="post about">
    <h1>About</h1>
      
    <section id="about-body">
        {{ content }}
    </section>

    <section>
        <h2>Authors:</h2>
        <div>
            {% for a in site.authors %}
            {% for author in a %}
            {% if author.name %}

            {% assign id = a[0] %}

            {% include author.html id=id author=author %}

            {% endif %}
            {% endfor %}
            {% endfor %}
        </div>
    </section>


</article>




